.modalPayment {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 999;

  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    h1 {
      font-weight: 600;
    }

    .productInfo {
      align-items: center;
      position: relative;
      display: flex;
      width: 100%;
      padding: 0;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      margin-top: 20px;

      .productThumb {
        .product img {
          flex: none;
          height: 80px;
          width: 80px;
          background-color: #ebf0f4;
          border-radius: 10px;
        }
      }
      .productDetail {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 80px;
        justify-content: center;
        overflow: hidden;
        padding-left: 16px;

        .code {
          font-size: 14px;
          font-weight: 700;
          line-height: 17px;
        }
        .name {
          font-size: 14px;
          line-height: 17px;
        }
        .size {
          font-size: 13px;
          letter-spacing: -0.07px;
          letter-spacing: -0.05px;
          line-height: 16px;
          font-weight: 600;
        }
        .price {
        }
      }
    }
    .finalPrice {
      line-height: 1.3em;

      .final {
        font-size: 13px;
      }
      .orderPrice {
        color: #ef6253;
        font-weight: 600;
      }
    }
    .closeButton {
      background-color: black;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 20px;
    }

    .closeButton:hover {
      background-color: #333;
    }
  }
}
