.bidsWrap {
  position: relative;
  .tradeTitle {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.15px;
    line-height: 22px;
    padding: 35px 0 5px;
  }
  .tabList {
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;

    .tabItem {
      flex: 1;
      margin: 2px;
      cursor: pointer;

      .tabItemText {
        background-color: #f4f4f4;
        margin: 1px;
        border-radius: 10px;
        color: rgba(34, 34, 34, 0.8);
        display: block;
        font-size: 13px;
        letter-spacing: -0.07px;
        letter-spacing: -0.05px;
        line-height: 16px;
        padding: 7px 0 9px;
        text-align: center;
      }
      .on {
        background-color: white;
        font-weight: bold;
      }
    }
  }
  .tabContent {
    display: block;
    height: auto;
    overflow: hidden;
    .tableWrap {
      padding: 21px 0 20px;
    }
    .moreDataButton {
      border: 1px solid #d3d3d3;
      color: rgba(34, 34, 34, 0.8);
      font-weight: 400;
      border-radius: 12px;
      font-size: 14px;
      height: 42px;
      letter-spacing: -0.14px;
      padding: 0 18px;
      width: 100%;
      align-items: center;
      background-color: #fff;
      color: rgba(34, 34, 34, 0.8);
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      text-align: center;
      vertical-align: middle;
    }
  }
  .layerAlertLogin {
    background-color: hsla(0, 0%, 100%, 0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    .alertContent {
      background-color: #fff;
      border: 1px solid #d3d3d3;
      height: 150px;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 320px;
      .notice {
        font-size: 14px;
        letter-spacing: -0.21px;
        padding-top: 27px;
      }
      .loginButton {
        margin-top: 12px;
        min-width: 80px;
        background-color: #222;
        color: #fff;
        font-weight: 700;
        border-radius: 12px;
        font-size: 14px;
        height: 42px;
        letter-spacing: -0.14px;
        padding: 0 18px;
        align-items: center;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}
