.detailRightTop {
  .detailMainTitleBox {
    position: relative;
    .brand {
      border-bottom: 2px solid #222;
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.27px;
      line-height: 19px;
      margin-bottom: 9px;
      padding-top: 1px;
      vertical-align: top;
    }
    .name {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -0.09px;
      margin-bottom: 4px;
    }
  }
  .productFigureWrap {
    .detailSize {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 12px;
      padding-top: 19px;
      .title {
        color: rgba(34, 34, 34, 0.8);
        display: inline-block;
        font-size: 13px;
        letter-spacing: -0.07px;
        line-height: 16px;
        padding-top: 4px;
      }
      .sizeButton {
        display: block;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.21px;
        line-height: 24px;
        cursor: pointer;

        .sizeButtonText {
          display: inline-block;
          margin-right: 5px;
          vertical-align: top;
          font-weight: 600;
          font-size: 16px;
        }
        .dropDownIcon {
          vertical-align: top;
          height: 24px;
          width: 24px;
        }
      }
    }
    .detailPrice {
      display: flex;
      justify-content: space-between;
      margin-top: 11px;
      min-height: 44px;
      .title {
        color: rgba(34, 34, 34, 0.8);
        display: inline-block;
        font-size: 12px;
        padding-top: 5px;
      }
      .price {
        display: flex;
        flex-direction: column;
        .recentPrice {
          padding-top: 2px;
          text-align: right;

          .num {
            display: inline-block;
            font-weight: 700;
            line-height: 26px;
            vertical-align: top;
            font-size: 20px;
            letter-spacing: -0.1px;
          }
          .won {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -0.27px;
            display: inline-block;
            line-height: 26px;
            vertical-align: top;
          }
        }
        .functionIncrease {
          font-size: 13px;
          padding-left: 17px;
          padding-top: 1px;
          position: relative;
          color: #f15746;
        }
      }
    }
  }
  .buttonWrap {
    .divisionButtonBox {
      display: flex;
      height: 60px;
      margin-top: 17px;
      .sellBuyButton {
        border: none;
        align-items: center;
        border-radius: 10px;
        margin-right: 10px;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        flex: 1;
        position: relative;

        .title {
          font-size: 16px;
          letter-spacing: -0.27px;
          text-align: center;
          width: 46px;
          font-weight: 600;
        }
        .priceWrap {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 10px;

          .price {
            line-height: 15px;

            text-align: left;

            display: block;

            .num {
              display: inline-block;

              font-weight: 700;
              vertical-align: top;
              font-size: 15px;
            }
            .won {
              font-size: 14px;
              display: inline-block;
              font-weight: 700;
              vertical-align: top;
            }
          }
          .line {
            background-color: rgba(34, 34, 34, 0.1);
            bottom: 0;
            content: '';
            left: 55px;
            position: absolute;
            top: 0;
            width: 1px;
          }
          .nowPrice {
            color: hsla(0, 0%, 100%, 0.8);
            display: block;
            font-size: 11px;
            font-weight: 600;
          }
        }
      }
    }

    .wishButton {
      height: 60px;
      line-height: 58px;
      align-items: center;
      border: 1px solid #dfdede;
      border-radius: 10px;
      background-color: white;
      color: rgba(34, 34, 34, 0.8);
      display: flex;
      justify-content: center;
      margin-top: 12px;
      letter-spacing: -0.16px;
      padding: 0 25px;
      width: 100%;
      .wishButtonText {
        margin-left: 4px;
        font-size: 15px;
        font-weight: 400;
      }
      .wishCountNum {
        margin-left: 4px;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: normal;
      }
    }
  }
}
