.gnbHeader {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .containerLogin {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    .loginAera {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 260px;
      padding: 60px 0 160px;

      .signUpTitle {
        display: flex;
        font-family: 'Russo One', sans-serif;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: -2px;

        .logoTitleContent {
          font-family: 'Russo One', sans-serif;
          font-size: 13px;
        }
      }
    }
  }
}
