.headerMain {
  display: flex;
  justify-content: space-between;
  padding: 23px 50px;
  margin: 27px 0;
  width: 100%;
  position: fixed;
  min-width: 560px;
  background-color: white;
  z-index: 999;

  .logo {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    font-style: italic;
  }

  .center {
    display: flex;
    width: 200px;
  }

  .right {
    display: flex;

    button {
      font-weight: 600;
      padding: 10px 20px;
      border: 1px solid #d3d3d3;
      background-color: #fff;
      color: rgba(34, 34, 34, 0.8);
      border-radius: 10px;
      font-size: 12px;
      letter-spacing: -0.06px;
    }

    .gnbList {
      display: flex;
      align-items: center;
      width: 100%;
      list-style: none;

      .gnbItem {
        font-family: 'Pretendard-Regular';
        margin-right: 55px;
        float: left;
        font-weight: 500;
        font-size: 18px;
        .shopText {
          text-decoration: none;
          color: black;
        }
        a {
          font-family: 'Pretendard-Regular';
        }
      }
    }
  }
}
.centerTitle {
  font-size: 23px;
  font-weight: 700;
}
